---

- name: Include for Debian.
  ansible.builtin.include_vars: "Debian.yml"
  when: ansible_facts['os_family'] == 'Debian'

- name: Include variables for RedHat
  ansible.builtin.include_vars: "RedHat.yml"
  when: ansible_facts['os_family'] == "RedHat"

- name: Include version-specific variables for Alpine
  ansible.builtin.include_vars: "Alpine.yml"
  when: ansible_facts['os_family'] == "Alpine"

- name: Import postfix
  ansible.builtin.import_tasks: postfix.yml
  when:
    - hardenmail_mta == 'postfix'

- name: Import exim
  ansible.builtin.import_tasks: exim.yml
  when:
    - hardenmail_mta == 'exim'

- name: Import aliases
  ansible.builtin.import_tasks: aliases.yml

- name: Import procmail
  ansible.builtin.import_tasks: procmail.yml
  when: hardenmail_postfix_procmail

- name: Import testing
  ansible.builtin.import_tasks: testing.yml
  when: hardenmail_testing
