---

- name: Restart postfix
  ansible.builtin.service:
    name: postfix
    state: restarted
  become: yes
  when: >
    not (
      ansible_facts['os_family'] == "RedHat" and ansible_facts['virtualization_type'] is defined and (
        ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd"
      )
    )

- name: Rebuild aliases
  ansible.builtin.command:  # noqa no-changed-when
    cmd: newaliases
  become: yes

- name: Run update-exim4.conf
  ansible.builtin.command:  # noqa no-changed-when
    cmd: update-exim4.conf

- name: Restart exim
  ansible.builtin.service:
    name: "exim4"
    state: "restarted"
  when: >
    not (
      ansible_facts['os_family'] == "RedHat" and ansible_facts['virtualization_type'] is defined and (
        ansible_facts['virtualization_type'] == "docker"
        or ansible_facts['virtualization_type'] == "containerd"
        or ansible_facts['virtualization_type'] == "container"
      )
    )
